@page "/"

@{
  Layout = "~/Views/Tarea/_Layout.cshtml";
  string uno = "Alta";
  string dos = "Media";
  string tres = "Baja";
}

<html>
<body>
  <div class="row game">
    <div class="columna">
      <div class="encabezado">
        <h2>Pendientes</h2>
        <h4>@ViewBag.Pendientes</h4>
      </div>
      <ul class="list-group" id="listaPendientes">
        @if (ViewBag.Pendientes == 0)
        {
          <div class="sin-tareas">
            <h5>No hay tareas pendientes</h5>
          </div>
        }
        else
        {
          @foreach (var tarea in ViewBag.Tareas)
          {
            if (tarea.Estado == 1)
            {
              <li class="col-item list1-item" data-tarea="@tarea.Id">
                <div class="row">
                  <div class="col-item-pendiente">
                    <div class="header-task">
                      <h5 class="list-group-item-heading titulo-task">@tarea.Titulo</h5>
                      <p class="list-group-item-text category-task">
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                          if (tarea.Categoria == categoria.Id)
                          {
                            @categoria.Nombre
                            ;
                          }
                        }
                      </p>
                    </div>
                    <div class="task-details">
                      <p class="list-group-item-text dificultad">
                        @for (int i = 0; i < tarea.Dificultad; ++i)
                        {
                          <img src="/Images/red-star.png" alt="Foto de usuario" class="star-img">
                        }
                      </p>
                      <p class="list-group-item-text prioridad">
                        @if (tarea.Prioridad == 1)
                        {
                          @uno
                          ;
                        }
                        else
                        {
                          if (tarea.Prioridad == 2)
                          {
                            @dos
                            ;
                          }
                          else
                          {
                            @tres
                            ;
                          }
                        }
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            }
          }
        }
      </ul>
    </div>
    <div class="columna">
      <div class="encabezado">
        <h2>Terminados</h2>
        <h4>@ViewBag.Terminados</h4>
      </div>
      <ul class="list-group" id="listaTerminados">
        @if (ViewBag.Terminados == 0)
        {
          <div class="sin-tareas">
            <h5>No hay tareas terminadas</h5>
          </div>
        }
        else
        {
          @foreach (var tarea in ViewBag.Tareas)
          {
            if (tarea.Estado == 3)
            {
              <li class="col-item list3-item" data-tarea="@tarea.Id">
                <div class="row">
                  <div class="col-item-terminado">
                    <div class="header-task">
                      <h5 class="list-group-item-heading titulo-task">@tarea.Titulo</h5>
                      <p class="list-group-item-text category-task">
                        @foreach (var categoria in ViewBag.Categorias)
                        {
                          if (tarea.Categoria == categoria.Id)
                          {
                            @categoria.Nombre
                            ;
                          }
                        }
                      </p>
                    </div>
                    <div class="task-details">
                      <p class="list-group-item-text dificultad">
                        @for (int i = 0; i < tarea.Dificultad; ++i)
                        {
                          <img src="/Images/red-star.png" alt="Foto de usuario" class="star-img">
                        }
                      </p>
                      <p class="list-group-item-text prioridad">
                        @if (tarea.Prioridad == 1)
                        {
                          @uno
                          ;
                        }
                        else
                        {
                          if (tarea.Prioridad == 2)
                          {
                            @dos
                            ;
                          }
                          else
                          {
                            @tres
                            ;
                          }
                        }
                      </p>
                    </div>
                  </div>
                </div>
              </li>
            }
          }
        }
      </ul>
    </div>
  </div>
  <script>
    $(function () {
      //Se crean los objetos draggables por cada elementos de las listas
      //jQuery("#listaPendientes li").draggable({
      //    revert:true
      //})
      //jQuery("#listaProceso li").draggable({
      //    revert:true
      //})
      //jQuery("#listaTerminados li").draggable({
      //    revert:true
      //})

      ////Se crea un objeto droppable por cada lista
      //jQuery("#listaPendientes").droppable({
      //    accept:".list2-item, .list3-item",
      //    drop: function(event, ui) {
      //        ci = jQuery(this).parent().children().index(this);
      //        ri = jQuery(this).parent().parent().children().index(this.parentNode);
      //    }
      //})

      var drag1 = $("#listaPendientes li").draggable({
        revert: true
      })
      var drag2 = $("#listaProceso li").draggable({
        revert: true
      })
      var drag3 = $("#listaTerminados li").draggable({
        revert: true
      })

      // Creamos un objeto de la clase Droppable para cada lista
      var droppable1 = $("#listaPendientes").droppable({
        accept: $("#listaProceso li, #listaTerminados li")
      })
      var droppable2 = $("#listaProceso").droppable({
        accept: $("#listaPendientes li, #listaTerminados li")
      })
      var droppable3 = $("#listaTerminados").droppable({
        accept: $("#listaPendientes li, #listaProceso li")
      })

      // Agregamos el elemento arrastrado a la lista correspondiente cuando se suelta

      // HACER QUE EL DROP FUNCIONE...SEGUIR PROBANDO

      drag1.on("dragend", function () {
        var target = $(this).parent();
        console.log(target);

        // Si el elemento se suelta en la lista 2
        if (target.attr("id") === "listaProceso") {
          $("#listaPendientes").append(this);
        }

        // Si el elemento se suelta en la lista 3
        else if (target.attr("id") === "listaTerminados") {
          $("#listaPendientes").append(this);
        }
      });

      drag2.on("dragend", function () {
        var target = $(this).parent();

        // Si el elemento se suelta en la lista 1
        if (target.attr("id") === "listaPendientes") {
          $("#listaProceso").append(this);
        }

        // Si el elemento se suelta en la lista 3
        else if (target.attr("id") === "listaTerminados") {
          $("#listaProceso").append(this);
        }
      });

      drag3.on("dragend", function () {
        var target = $(this).parent();

        // Si el elemento se suelta en la lista 1
        if (target.attr("id") === "listaPendientes") {
          $("#listaTerminados").append(this);
        }

        // Si el elemento se suelta en la lista 2
        else if (target.attr("id") === "listaProceso") {
          $("#listaTerminados").append(this);
        }
      });
    })
  </script>
</body>

<script src="~/js/site.js" asp-append-version="true"></script>
</html>


