@page "/"

@{
  Layout = "~/Views/Tarea/_Layout.cshtml";
  string uno = "Alta";
  string dos = "Media";
  string tres = "Baja";
}

<html>
<body>
  <div class="buscar-contenedor">
    <a href="/Tarea/AddTask" class="btn-agregar">Nueva Tarea</a>
    <div class="barra-buscar">
      <input type="text" class="form-control" id="buscar" placeholder="Buscar">
    </div>
  </div>

  <div class="row">
    <div class="columna">
      <div class="encabezado">
        <h2>Pendientes</h2>
        <h4 id="cantidadPendientes">@ViewBag.Pendientes</h4>
      </div>
      <div class="">
        <ul class="list-group sortable" id="listaPendientes">
          @if (ViewBag.Pendientes == 0)
          {
            <div class="sin-tareas" id="sinPendientes">
              <h5>No hay tareas pendientes</h5>
            </div>
          }
          else
          {
            @foreach (var tarea in ViewBag.Tareas)
            {
              if (tarea.Estado == 1)
              {
                <form data-bs-toggle="modal" data-bs-target="#taskDetails" type="submit" ondblclick="location.href='@Url.Action("Details", "Tarea", new {id = @tarea.Id})'">
                <li class="col-item list1-item" id="@tarea.Id">
                  <div class="row">
                    <div class="col-item-pendiente">
                      <div class="header-task">
                        <h5 class="list-group-item-heading titulo-task">@tarea.Titulo</h5>
                        <p class="list-group-item-text category-task">
                          @foreach (var categoria in ViewBag.Categorias)
                          {
                            if (tarea.Categoria == categoria.Id)
                            {
                              @categoria.Nombre
                            }
                          }
                        </p>
                      </div>
                      <div class="task-details">
                        <p class="list-group-item-text dificultad">
                          @for (int i = 0; i < tarea.Dificultad; ++i)
                          {
                            <img src="/Images/red-star.png" alt="Foto de usuario" class="star-img">
                          }
                        </p>
                        <p class="list-group-item-text prioridad">
                          @if (tarea.Prioridad == 1)
                          {
                            @uno
                          }
                          else
                          {
                            if (tarea.Prioridad == 2)
                            {
                              @dos
                            }
                            else
                            {
                              @tres
                            }
                          }
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
                </form>
              }
            }
          }
        </ul>
      </div>
     
    </div>
    <div class="columna">
      <div class="encabezado">
        <h2>En Proceso</h2>
        <h4 id="cantidadProcesos">@ViewBag.Procesos</h4>
      </div>
      <div class="">
        <ul class="list-group sortable" id="listaProceso">
          @if (ViewBag.Procesos == 0)
          {
            <div class="sin-tareas" id="sinProcesos">
              <h5>No hay tareas en proceso</h5>
            </div>
          }
          else
          {
            @foreach (var tarea in ViewBag.Tareas)
            {
                            
                            <div class="modal fade" id="taskDetails" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4>Detalles tarea.Titulo</h4>
                                            <button type="button" class="close" data-dismiss="modal">x</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="Details">
                                                <div class="form-group">
                                                    <label>tarea.Descripcion</label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
              if (tarea.Estado == 2)
              {
                <li class="col-item list2-item" data-tarea="@tarea.Id">
                  <div class="row">
                    <div class="col-item-proceso">
                      <div class="header-task">
                        <h5 class="list-group-item-heading titulo-task">@tarea.Titulo</h5>
                        <p class="list-group-item-text category-task">
                          @foreach (var categoria in ViewBag.Categorias)
                          {
                            if (tarea.Categoria == categoria.Id)
                            {
                              @categoria.Nombre
                            }
                          }
                        </p>
                      </div>
                      <div class="task-details">
                        <p class="list-group-item-text dificultad">
                          @for (int i = 0; i < tarea.Dificultad; ++i)
                          {
                            <img src="/Images/red-star.png" alt="Foto de usuario" class="star-img">
                          }
                        </p>
                        <p class="list-group-item-text prioridad">
                          @if (tarea.Prioridad == 1)
                          {
                            @uno
                          }
                          else
                          {
                            if (tarea.Prioridad == 2)
                            {
                              @dos
                            }
                            else
                            {
                              @tres
                            }
                          }
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              }
            }
          }
        </ul>
      </div>
    </div>
    <div class="columna">
      <div class="encabezado">
        <h2>Terminados</h2>
        <h4 id="cantidadTerminados">@ViewBag.Terminados</h4>
      </div>
      <div class="">
        <ul class="list-group sortable" id="listaTerminados">
          @if (ViewBag.Terminados == 0)
          {
            <div class="sin-tareas" id="sinTerminados">
              <h5>No hay tareas terminadas</h5>
            </div>
          }
          else
          {
            @foreach (var tarea in ViewBag.Tareas)
            {
              if (tarea.Estado == 3)
              {
                <li class="col-item list3-item" data-tarea="@tarea.Id">
                  <div class="row">
                    <div class="col-item-terminado">
                      <div class="header-task">
                        <h5 class="list-group-item-heading titulo-task">@tarea.Titulo</h5>
                        <p class="list-group-item-text category-task">
                          @foreach (var categoria in ViewBag.Categorias)
                          {
                            if (tarea.Categoria == categoria.Id)
                            {
                              @categoria.Nombre
                            }
                          }
                        </p>
                      </div>
                      <div class="task-details">
                        <p class="list-group-item-text dificultad">
                          @for (int i = 0; i < tarea.Dificultad; ++i)
                          {
                            <img src="/Images/red-star.png" alt="Foto de usuario" class="star-img">
                          }
                        </p>
                        <p class="list-group-item-text prioridad">
                          @if (tarea.Prioridad == 1)
                          {
                            @uno
                          }
                          else
                          {
                            if (tarea.Prioridad == 2)
                            {
                              @dos
                            }
                            else
                            {
                              @tres
                            }
                          }
                        </p>
                      </div>
                    </div>
                  </div>
                </li>
              }
            }
          }
        </ul>
      </div>
    </div>
  </div>
</body>
</html>

<script>
    var myModal = document.getElementById('taskDetails')
    var myInput = document.getElementById('myInput')

    myModal.addEventListener('shown.bs.modal', function () {
        myInput.focus()
    })

</script>
