@model ToDoList.Models.RegisterModel

<body class="bg-gradient-primary">
  @using (Html.BeginForm())
  {
    @Html.AntiForgeryToken()

    <div class="container">
      <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-3 d-none d-lg-block "></div>
                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Crear una cuenta!</h1>
                    </div>
                    @Html.ValidationSummary(true, "Error al registrarse", new { @class = "text-danger" })
                    <form class="py-2">
                      <div class="form-group py-1">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Nombre", required = "required" } })
                      </div>
                      <div class="form-group py-1">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Primer Apellido", required = "required" } })
                      </div>
                      <div class="form-group py-1">
                        @Html.EditorFor(model => model.SecondLastName, new { htmlAttributes = new { @class = "form-control form-control-user", placeholder = "Segundo Apellido", required = "required" } })
                      </div>
                      <div class="form-group py-1">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "Email", required = "required" } })
                      </div>
                      <div class="form-group py-1">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña", required = "required" } })
                      </div>
                      <div class="py-1">
                        <input asp-for="IsAGame" type="checkbox" id="checkBoxEsJuego" onclick="isGame()">
                        <a id="TextEsJuego" style="">Es un juego</a>

                      </div>
                      <div class="d-grid gap-2 py-4">
                        <button type="submit" class="btn btn-secondary text-light p-2">Registrarse</button>
                      </div>
                    </form>
                    <hr>
                    <div class="text-center text-primary py-4">
                      @Html.ActionLink("Ya tiene cuenta? Inicie sesión!", "Login")
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  }
  @* Si se selecciona el checkbox es verdadero*@
  <script>
    function isGame() {
      var checkBox = document.getElementById("checkBoxEsJuego");
      var text = document.getElementById("selectGame");
      if (checkBox.checked == true) {
        model.IsAGame = true;)
      } else {
        model.IsAGame = false;
      }
    }
  </script>

</body>

